<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="">

<form>
    选择一个选项:
    <input type="radio" ng-model="myVar" value="china">中国
    <input type="radio" ng-model="myVar" value="usa">美国
    <input type="radio" ng-model="myVar" value="Japan">日本
</form>

<div ng-switch="myVar">
<!--当dogs为真的时候才显示下面的内容-->
    <div ng-switch-when="china">
        <h1>中国</h1>
        <p>欢迎来到中国</p>
    </div>
    <div ng-switch-when="usa">
        <h1>美国</h1>
        <p>欢迎来到美国</p>
    </div>
    <div ng-switch-when="Japan">
        <h1>日本</h1>
        <p>欢迎来到京都</p>
    </div>
</div>


</body>
</html>